<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./CompHeader.css" />
    <script defer src="./CompHeader.js"></script>
    <title>Header</title>
  </head>
  <body>
    <header class="header">
      <a href="../../index.html">
        <img class="logo header__logo" src="../../images/logo.png" alt="logo" />
      </a>
      <button class="header__button-open-menu">
        <img
          class="header__burguer-menu-img"
          src="../../images/burger.png"
          alt="burguer-menu"
        />
      </button>
      <div class="header__desktop-options">
        <a class="header__desktop-option" href="../../Portfolio/portfolio.html"
          >Portfolio</a
        >
        <a class="header__desktop-option" href="../../Servicios/servicios.html"
          >Servicios</a
        >
        <a class="header__desktop-option" href="../../Contacto/contacto.html"
          >Contacto</a
        >
      </div>
      <div class="header__burguer-menu-opened">
        <button class="header__button-close-menu">
          <img
            class="header__button-close-menu-img"
            src="../../images/cross.png"
            alt="cross"
          />
        </button>
        <div class="header__burguer-menu-options">
          <a
            class="header__burguer-option"
            href="../../Portfolio/portfolio.html"
            >Portfolio</a
          >
          <a
            class="header__burguer-option"
            href="../../Servicios/servicios.html"
            >Servicios</a
          >
          <a class="header__burguer-option" href="../../Contacto/contacto.html"
            >Contacto</a
          >
        </div>
      </div>
    </header>
  </body>
</html>
