* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main {
  background-image: url("../images/fondo-contacto.png");
}

.header__desktop-option:hover {
  border: 2px solid #6363ff;
  background-color: #7a7afc;
  border-radius: 10px;
  transition: 0.3s;
}
